body {
    background-color: lightblue;
    color: ; /* Missing value */
  }
  
  h1 {
    font-size: 24px;
    text-align: center;
    color: darkblue;
  }
  
  p {
    font-size: 16px
    color: gray; /* Missing semicolon */
  }
  
  .my-class{
      font-weight: bold;
      text-decoration: under line; /* space in property value */
  }
  
  #my-id {
      background-color: red;; /* Double semicolon */
  }