/* Test CSS File */
body {
    background-color: lightblue;
    color: ;
}

h1 {
    color: darkblue;
    font-size: 24px;
    text-align: center;
    padding: xxs
}

p {
    font-size: 16px;
    color: gray;
}